<div id="header">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
				 aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" style="padding:0 0 0 15px;" href="http://www.clantrip.com"><img alt="Brand" style="max-width:130px;"
					 src="http://www.clantrip.com/static/images/logo.png"></a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="http://www.clantrip.com">首页 <span class="sr-only">(current)</span></a>
						<p class="line-top hidden-xs"></p>
					</li>
					<li><a href="http://www.clantrip.com/index.php?m=content&amp;c=index&amp;a=lists&amp;catid=6">签证指南</a></li>
					<li><a href="http://www.clantrip.com/index.php?m=content&amp;c=index&amp;a=lists&amp;catid=13">签证加急</a></li>
					<li><a href="http://www.clantrip.com/index.php?m=content&amp;c=index&amp;a=lists&amp;catid=9">签证服务</a></li>
					<li><a href="http://www.clantrip.com/index.php?m=content&amp;c=index&amp;a=lists&amp;catid=10">签证资讯</a></li>
					<li class="hidden-sm"><a href="http://www.clantrip.com/index.php?m=content&amp;c=index&amp;a=lists&amp;catid=14">资料下载</a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>
