<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>
			中岚签证
		</title>
		<link rel='stylesheet' href='/lib/bootstrap/dist/css/bootstrap.min.css' />
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<%- include("./header.html") %>
		<%- include("./main.html") %>
	</body>
	<script src="/lib/jquery/dist/jquery.min.js"></script>
	<script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</html>
