<div id="carousel-example-generic" class="carousel slide">
	<!-- 轮播（Carousel）指标 -->
	<ol class="carousel-indicators">
		<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		<li data-target="#carousel-example-generic" data-slide-to="1"></li>
	</ol>
	<!-- 轮播（Carousel）项目 -->
	<div class="carousel-inner">
		<div class="item active">
			<img src="http://www.clantrip.com/static/images/banner1.jpg" alt="First slide">
		</div>
		<div class="item">
			<img src="http://www.clantrip.com/static/images/banner2.jpg" alt="Second slide">
		</div>
	</div>
</div>
<div class="index-row our-data">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 main-title">
				<h2 class="h1">我们的成绩</h2>
				<p class="line line-big"></p>
				<h2>
					<small>2017年1月1日至2017年12月30日，我们的接待数据。</small>
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3 our-data-item">
				<div class="num-wrapper">
					<span>18,397</span>
				</div>
				<h4 class="title">累计受理申请</h4>
			</div>
			<div class="col-sm-3 our-data-item">
				<div class="num-wrapper">
					<span>98.8%</span>
				</div>
				<h4 class="title">综合通过率</h4>
			</div>
			<div class="col-sm-3 our-data-item">
				<div class="num-wrapper">
					<span>3,273</span>
				</div>
				<h4 class="title">加急申请人数</h4>
			</div>
			<div class="col-sm-3 our-data-item">
				<div class="num-wrapper">
					<span>100%</span>
				</div>
				<h4 class="title">加急成功率</h4>
			</div>
		</div>
	</div>
</div>
<div class="index-row our-whyus">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 main-title">
				<h2 class="h1">我们的优势</h2>
				<p class="line line-big"></p>
				<h2>
					<small>每一份签证申请都是独立个案，每一位申请人都应该被认真对待。</small>
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<div class="our-whyus-item">
					<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
					<h3 class="title">十一年美签经验</h3>
					<p>&nbsp;&nbsp;2006年开始办理美国签证至今，积累了丰富的首签和拒签再签实用经验。</p>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="our-whyus-item">
					<span class="glyphicon glyphicon-move" aria-hidden="true"></span>
					<h3>一对一精准定制</h3>
					<p>每一位申请人都是独立的签证个案，我们从签证原理开始，为您定制最优方案。</p>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="our-whyus-item">
					<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
					<h3>高效率即时响应</h3>
					<p>遇到任何疑问，您都会在第一时间得到我们的正面回应，并进行相关处理。</p>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="our-whyus-item">
					<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
					<h3>精益求精的态度</h3>
					<p class="text-center">死磕完美材料，对签证申请流程中的细节一丝不苟，力争最高通过率。</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="our-client">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 main-title">
				<h2 class="h1">我们的客户</h2>
				<p class="line line-big"></p>
				<h3><small>他们与中岚建立了合作关系</small></h3>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2 our-client-item">
                <div class="our-client-logo">
                    <img class="img-responsive center-block" src="http://www.clantrip.com/static/images/client_logo/client1.png" alt="中国重汽">
                </div>
            </div>
			<div class="col-xs-4 col-sm-3 col-md-2 our-client-item">
				<div class="our-client-logo">
					<img class="img-responsive center-block" src="http://www.clantrip.com/static/images/client_logo/client1.png" alt="中国重汽">
				</div>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2 our-client-item">
				<div class="our-client-logo">
					<img class="img-responsive center-block" src="http://www.clantrip.com/static/images/client_logo/client1.png" alt="中国重汽">
				</div>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2 our-client-item">
				<div class="our-client-logo">
					<img class="img-responsive center-block" src="http://www.clantrip.com/static/images/client_logo/client1.png" alt="中国重汽">
				</div>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2 our-client-item">
				<div class="our-client-logo">
					<img class="img-responsive center-block" src="http://www.clantrip.com/static/images/client_logo/client1.png" alt="中国重汽">
				</div>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2 our-client-item">
				<div class="our-client-logo">
					<img class="img-responsive center-block" src="http://www.clantrip.com/static/images/client_logo/client1.png" alt="中国重汽">
				</div>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2 our-client-item">
				<div class="our-client-logo">
					<img class="img-responsive center-block" src="http://www.clantrip.com/static/images/client_logo/client1.png" alt="中国重汽">
				</div>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2 our-client-item">
				<div class="our-client-logo">
					<img class="img-responsive center-block" src="http://www.clantrip.com/static/images/client_logo/client1.png" alt="中国重汽">
				</div>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2 our-client-item">
				<div class="our-client-logo">
					<img class="img-responsive center-block" src="http://www.clantrip.com/static/images/client_logo/client1.png" alt="中国重汽">
				</div>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2 our-client-item">
				<div class="our-client-logo">
					<img class="img-responsive center-block" src="http://www.clantrip.com/static/images/client_logo/client1.png" alt="中国重汽">
				</div>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2 our-client-item">
				<div class="our-client-logo">
					<img class="img-responsive center-block" src="http://www.clantrip.com/static/images/client_logo/client1.png" alt="中国重汽">
				</div>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2 our-client-item">
				<div class="our-client-logo">
					<img class="img-responsive center-block" src="http://www.clantrip.com/static/images/client_logo/client1.png" alt="中国重汽">
				</div>
			</div>
		</div>
	</div>
</div>
<div id="copyright">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<p>Copyright © 2006-2017 clantrip.com All Rights Reversed. 中岚签证 京ICP备16015317号</p><br>
			</div>
			<span>京公网安备 11010102002687号</span>
		</div>
	</div>
</div>
